<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="NORMALLOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/electric/work1.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="spring" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/electric/spring.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>

	<appender name="electric_info" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/electric/info.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="electric_error" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/electric/error.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="ERROR"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="electric_debug" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/electric/debug.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="electric_di" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/electric/di.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="electric_sso" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/electric/sso.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="electric_sql" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/electric/sql.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<logger name="org.jmicro">
		<level value="DEBUG"/>
		<appender-ref ref="electric_debug"/>
	</logger>
	<logger name="org.apache.zookeeper">
		<level value="ERROR"/>
		<appender-ref ref="electric_debug"/>
	</logger>
	
	
	<logger name="java.sql">
		<level value="DEBUG"/>
		<appender-ref ref="electric_sql"/>
		<appender-ref ref="CONSOLE"/>
	</logger>
	
	<logger name="org.mybatis">
		<level value="DEBUG"/>
		<appender-ref ref="electric_sql"/>
		<appender-ref ref="CONSOLE"/>
	</logger>
	
	<logger name="org.springframework">
		<level value="INFO"/>
		<appender-ref ref="spring"/>
	</logger>
	
	<logger name="org.mongodb.driver">
		<level value="INFO"/>
		<appender-ref ref="spring"/>
	</logger>
	<logger name="org.apache.zookeeper">
		<level value="INFO"/>
		<appender-ref ref="spring"/>
	</logger>
	 
	<root>	
	    <level value="ERROR"/>
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="electric_error"/>
	</root>
	
</log4j:configuration>