<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.expjmicro.example.tx.api.mapper.GoodMapper">
  
 <insert id="saveGood" parameterType="cn.expjmicro.example.tx.api.entities.Good" >
    insert into t_good (name, price,total,usable_cnt)
    values (#{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}
    , #{total,jdbcType=INTEGER}, #{usableCnt,jdbcType=INTEGER}
      )
  </insert>

</mapper>