<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.expjmicro.example.tx.api.mapper.PaymentMapper">

  <insert id="savePayment" parameterType="cn.expjmicro.example.tx.api.entities.Payment" >
   insert into t_payment (id,order_id, amount,txid)
    values (#{id,jdbcType=INTEGER},
    #{orderId,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{txid,jdbcType=INTEGER}
      )
  </insert>

</mapper>