# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.editorconfig
.project
.settings/
		
.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/
sbin/logs/
api/target/
api/.classpath
api/.project
api/.settings/
api/bin/
api/data/
api/logs/
build/target/
build/.classpath
build/.project
build/.settings/
build/bin/
build/logs/
build/data/
common/target/
common/.classpath
common/.project
common/.settings/
common/bin/
common/logs/
common/data/
transport/target/
transport/.classpath
transport/.project
transport/.settings/
transport/bin/
transport/logs/
transport/data/
transport/transport.mina/target/
transport/transport.mina/.classpath
transport/transport.mina/.project
transport/transport.mina/.settings/
transport/transport.mina/bin/
transport/transport.mina/logs/
transport/transport.mina/data/
transport/transport.http/target/
transport/transport.http/.classpath
transport/transport.http/.project
transport/transport.http/.settings/
transport/transport.http/bin/
transport/transport.http/logs/
transport/transport.http/data/
transport/transport.netty.server/target/
transport/transport.netty.server/.classpath
transport/transport.netty.server/.project
transport/transport.netty.server/.settings/
transport/transport.netty.client/target/
transport/transport.netty.client/.classpath
transport/transport.netty.client/.project
transport/transport.netty.client/.settings/
transport/transport.netty.client/bin/
transport/transport.netty.client/logs/
transport/transport.netty.client/data/
zk/target/
zk/.classpath
zk/.project
zk/.settings/
zk/bin/
zk/logs/
zk/data/
registry/registry.zk/target/
registry/registry.zk/.classpath
registry/registry.zk/.project
registry/registry.zk/.settings/
registry/registry.zk/bin/
registry/registry.zk/logs/
registry/registry.zk/data/
registry/target/
registry/.classpath
registry/.project
registry/.settings/
registry/bin/
registry/logs/
registry/data/
objfactory/objfactory/target/
objfactory/objfactory/.classpath
objfactory/objfactory/.project
objfactory/objfactory/.settings/
objfactory/objfactory/bin/
objfactory/objfactory/logs/
objfactory/objfactory/data/
objfactory/objfactory.simple/target/
objfactory/objfactory.simple/.classpath
objfactory/objfactory.simple/.project
objfactory/objfactory.simple/.settings/
objfactory/objfactory.simple/bin/
objfactory/objfactory.simple/logs/
objfactory/objfactory.simple/data/
objfactory/target/
objfactory/.classpath
objfactory/.project
objfactory/.settings/
objfactory/bin/
objfactory/logs/
objfactory/data/
idgenerator/target/
idgenerator/.classpath
idgenerator/.project
idgenerator/.settings/
idgenerator/logs/
idgenerator/bin/
idgenerator/data/
example/target/
example/.classpath
example/.project
example/.settings/
example/logs/
example/bin/
example/data/
example/example.api/target/
example/example.api/.classpath
example/example.api/.project
example/example.api/.settings/
example/example.api/logs/
example/example.api/bin/
example/example.api/data/
example/example.provider/target/
example/example.provider/.classpath
example/example.provider/.project
example/example.provider/.settings/
example/example.provider/logs/
example/example.provider/data/
example/example.provider/bin/
example/example.comsumer/target/
example/example.comsumer/.classpath
example/example.comsumer/.project
example/example.comsumer/.settings/
example/example.comsumer/logs/
example/example.comsumer/data/
example/example.comsumer/bin/
config/target/
config/.classpath
config/.project
config/.settings/
config/logs/
config/bin/
config/data/
mng.web/.settings/
mng.web/target/
mng.web/.classpath
mng.web/.project
mng.web/logs/
mng.web/bin/
mng.web/data/
mng/target/
mng/.classpath
mng/.project
mng/.settings/
mng/logs/
mng/bin/
mng/data/
limit/target/
limit/.classpath
limit/.project
limit/.settings/
limit/logs/
limit/bin/
limit/data/
client/target/
client/.classpath
client/.project
client/.settings/
client/logs/
client/bin/
client/data/
server/target/
server/.classpath
server/.project
server/.settings/
server/logs/
server/bin/
server/data/
redis/target/
redis/.classpath
redis/.project
redis/.settings/
redis/logs/
redis/bin/
redis/data/
etcd/target/
etcd/.classpath
etcd/.project
etcd/.settings/
etcd/logs/
etcd/bin/
etcd/data/
classloader/target/
classloader/.classpath
classloader/.project
classloader/.settings/
classloader/target/
classloader/.classpath
classloader/.project
classloader/.settings/
classloader/logs/
classloader/bin/
classloader/data/
gateway/target/
gateway/.classpath
gateway/.project
gateway/.settings/
gateway/logs/
gateway/bin/
gateway/data/
gateway.client/target/
gateway.client/.classpath
gateway.client/.project
gateway.client/.settings/
gateway.client/logs/
gateway.client/logs/
gateway.client/bin/
gateway.client/data/
main/main.monitor/target/
main/main.monitor/.classpath
main/main.monitor/.project
main/main.monitor/.settings/
main/main.monitor/logs/
main/main.monitor/bin/
main/main.monitor/data/
main/main.rcptool/target/
main/main.rcptool/.classpath
main/main.rcptool/.project
main/main.rcptool/.settings/
main/main.rcptool/logs/
main/target/
main/.classpath
main/.project
main/.settings/
main/logs/
main/bin/
main/data/
main/main.pubsub/target/
main/main.pubsub/.classpath
main/main.pubsub/.project
main/main.pubsub/.settings/
main/main.pubsub/logs/
main/main.pubsub/data/
main/main.pubsub/bin/
main/main.breaker/target/
main/main.breaker/.classpath
main/main.breaker/.project
main/main.breaker/.settings/
main/main.breaker/logs/
main/main.breaker/data/
main/main.breaker/bin/
choreography/choreography.agent/target/
choreography/choreography.agent/.classpath
choreography/choreography.agent/.project
choreography/choreography.agent/.settings/
choreography/choreography.agent/logs/
choreography/choreography.agent/agentWorkDir/
choreography/choreography.agent/data/
choreography/choreography.agent/bin/
choreography/choreography.agent/resourceDir/
choreography/choreography.controller/target/
choreography/choreography.controller/.classpath
choreography/choreography.controller/.project
choreography/choreography.controller/.settings/
choreography/choreography.controller/logs/
choreography/choreography.controller/data/
choreography/choreography.controller/bin/
choreography/choreography.repository/target/
choreography/choreography.repository/.classpath
choreography/choreography.repository/.project
choreography/choreography.repository/.settings/
choreography/choreography.repository/logs/
choreography/choreography.repository/data/
choreography/choreography.repository/bin/
choreography/choreography.api/target/
choreography/choreography.api/.classpath
choreography/choreography.api/.project
choreography/choreography.api/.settings/
choreography/choreography.api/logs/
ext/target/
ext/.classpath
ext/.project
ext/.settings/
ext/mybatis/target/
ext/mybatis/.classpath
ext/mybatis/.project
ext/mybatis/.settings/
ext/mongodb/target/
ext/mongodb/.classpath
ext/mongodb/.project
ext/mongodb/.settings/
agent/target/
agent/.classpath
agent/.project
agent/.settings/
agent/agent-0.0.1-SNAPSHOT.jar
test/target/
test/.classpath
test/.project
test/.settings/
test/logs/
test/bin/
test/data/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
