# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.editorconfig
.project
.settings/
		
.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/
jmicro.api/target/
jmicro.api/.classpath
jmicro.api/.project
jmicro.api/.settings/
jmicro.common/target/
jmicro.common/.classpath
jmicro.common/.project
jmicro.common/.settings/
jmicro.main/target/
jmicro.main/.classpath
jmicro.main/.project
jmicro.main/.settings/
jmicro.transport/target/
jmicro.transport/.classpath
jmicro.transport/.project
jmicro.transport/.settings/
jmicro.transport/jmicro.transport.api/target/
jmicro.transport/jmicro.transport.api/.classpath
jmicro.transport/jmicro.transport.api/.project
jmicro.transport/jmicro.transport.api/.settings/
jmicro.transport/jmicro.transport.nio/target/
jmicro.transport/jmicro.transport.nio/.classpath
jmicro.transport/jmicro.transport.nio/.project
jmicro.transport/jmicro.transport.nio/.settings/
jmicro.transport/jmicro.transport.mina/target/
jmicro.transport/jmicro.transport.mina/.classpath
jmicro.transport/jmicro.transport.mina/.project
jmicro.transport/jmicro.transport.mina/.settings/
jmicro.transport/jmicro.transport.http/target/
jmicro.transport/jmicro.transport.http/.classpath
jmicro.transport/jmicro.transport.http/.project
jmicro.transport/jmicro.transport.http/.settings/
jmicro.transport/jmicro.transport.netty/target/
jmicro.transport/jmicro.transport.netty/.classpath
jmicro.transport/jmicro.transport.netty/.project
jmicro.transport/jmicro.transport.netty/.settings/
jmicro.zk/target/
jmicro.zk/.classpath
jmicro.zk/.project
jmicro.zk/.settings/
jmicro.registry/jmicro.registry.zk/target/
jmicro.registry/jmicro.registry.zk/.classpath
jmicro.registry/jmicro.registry.zk/.project
jmicro.registry/jmicro.registry.zk/.settings/
jmicro.objfactory/jmicro.objfactory/target/
jmicro.objfactory/jmicro.objfactory/.classpath
jmicro.objfactory/jmicro.objfactory/.project
jmicro.objfactory/jmicro.objfactory/.settings/
jmicro.objfactory/jmicro.objfactory.simple/target/
jmicro.objfactory/jmicro.objfactory.simple/.classpath
jmicro.objfactory/jmicro.objfactory.simple/.project
jmicro.objfactory/jmicro.objfactory.simple/.settings/
jmicro.objfactory/target/
jmicro.objfactory/.classpath
jmicro.objfactory/.project
jmicro.objfactory/.settings/
jmicro.idgenerator/target/
jmicro.idgenerator/.classpath
jmicro.idgenerator/.project
jmicro.idgenerator/.settings/
jmicro.example/jmicro.example.api/target/
jmicro.example/jmicro.example.api/.classpath
jmicro.example/jmicro.example.api/.project
jmicro.example/jmicro.example.api/.settings/
jmicro.example/jmicro.example.provider/target/
jmicro.example/jmicro.example.provider/.classpath
jmicro.example/jmicro.example.provider/.project
jmicro.example/jmicro.example.provider/.settings/
jmicro.example/jmicro.example.provider/logs/
jmicro.example/jmicro.example.comsumer/target/
jmicro.example/jmicro.example.comsumer/.classpath
jmicro.example/jmicro.example.comsumer/.project
jmicro.example/jmicro.example.comsumer/.settings/
jmicro.example/jmicro.example.comsumer/logs/
jmicro.config/target/
jmicro.config/.classpath
jmicro.config/.project
jmicro.config/.settings/
jmicro.codec/target/
jmicro.codec/.classpath
jmicro.codec/.project
jmicro.codec/.settings/
jmicro.limit/target/
jmicro.limit/.classpath
jmicro.limit/.project
jmicro.limit/.settings/
jmicro.client/target/
jmicro.client/.classpath
jmicro.client/.project
jmicro.client/.settings/
jmicro.server/target/
jmicro.server/.classpath
jmicro.server/.project
jmicro.server/.settings/
jmicro.gateway/target/
jmicro.gateway/.classpath
jmicro.gateway/.project
jmicro.gateway/.settings/
jmicro.route/target/
jmicro.route/.classpath
jmicro.route/.project
jmicro.route/.settings/
jmicro.gateway.client/target/
jmicro.gateway.client/.classpath
jmicro.gateway.client/.project
jmicro.gateway.client/.settings/
jmicro.monitor/jmicro.monitor.subermemory/target/
jmicro.monitor/jmicro.monitor.subermemory/.classpath
jmicro.monitor/jmicro.monitor.subermemory/.project
jmicro.monitor/jmicro.monitor.subermemory/.settings/
jmicro.monitor/jmicro.monitor.subermemory/logs/
jmicro.monitor/jmicro.monitor.submiter/target/
jmicro.monitor/jmicro.monitor.submiter/.classpath
jmicro.monitor/jmicro.monitor.submiter/.project
jmicro.monitor/jmicro.monitor.submiter/.settings/
jmicro.monitor/jmicro.monitor.dashboard/target/
jmicro.monitor/jmicro.monitor.dashboard/.classpath
jmicro.monitor/jmicro.monitor.dashboard/.project
jmicro.monitor/jmicro.monitor.dashboard/.settings/
jmicro.monitor/jmicro.monitor.dashboard/logs/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
