<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err"/>
		<param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%L],[%t],[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="NORMALLOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/jmicro/work.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>

	<appender name="jmicro_info" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/jmicro/info.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="jmicro_error" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/jmicro/error.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="ERROR"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="jmicro_debug" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/jmicro/debug.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="jmicro_scpecail" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/jmicro/specail.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
		<appender name="jmicro_A" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/per/A.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%L],[%t],[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="jmicro_B" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/per/B.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%L],[%t],[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="jmicro_C" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/per/C.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%L],[%t],[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="jmicro_D" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.dir}/logs/per/D.log"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%L],[%t],[%d][%p,%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<logger name="io.netty.handler.logging">
		<level value="WARN"/>
		<appender-ref ref="jmicro_error"/>
	</logger>
	
	<logger name="org.jmicro.api.debug.a">
		<level value="DEBUG"/>
		<appender-ref ref="jmicro_A"/>
	</logger>
	<logger name="org.jmicro.api.debug.b">
		<level value="DEBUG"/>
		<appender-ref ref="jmicro_B"/>
	</logger>
	<logger name="org.jmicro.api.debug.c">
		<level value="DEBUG"/>
		<appender-ref ref="jmicro_C"/>
	</logger>
	<logger name="org.jmicro.api.debug.d">
		<level value="DEBUG"/>
		<appender-ref ref="jmicro_D"/>
	</logger>
	
	<logger name="org.jmicro.client.specail">
		<level value="DEBUG"/>
		<appender-ref ref="jmicro_scpecail"/>
	</logger>

	<logger name="org.jmicro">
		<level value="DEBUG"/>
		<appender-ref ref="CONSOLE"/>
	</logger>
	
	<logger name="org.jmicro.api.codec">
		<level value="DEBUG"/>
		<appender-ref ref="jmicro_debug"/>
	</logger>
	
	<logger name="org.apache.zookeeper">
		<level value="ERROR"/>
		<appender-ref ref="jmicro_error"/>
	</logger>
	
	<logger name="org.apache.mina">
		<level value="ERROR"/>
		<appender-ref ref="jmicro_error"/>
	</logger>
	<logger name="io.netty">
		<level value="INFO"/>
		<appender-ref ref="CONSOLE"/>
	</logger>
	
	<logger name="org.jboss">
		<level value="INFO"/>
		<appender-ref ref="CONSOLE"/>
	</logger>
	 
	<root>	
	    <level value="DEBUG"/>
		<appender-ref ref="CONSOLE"/>
	</root>
	
</log4j:configuration>