@font-face {
  font-family: "iconfont"; /* Project id 2769361 */
  src: url('iconfont.woff2?t=1645777853370') format('woff2'),
       url('iconfont.woff?t=1645777853370') format('woff'),
       url('iconfont.ttf?t=1645777853370') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche1:before {
  content: "\e63f";
}

.icon-xiaoxi_:before {
  content: "\e68b";
}

.icon-04:before {
  content: "\e607";
}

.icon-leimupinleifenleileibie:before {
  content: "\e7f9";
}

.icon-gouwuche:before {
  content: "\e636";
}

.icon-huiyuan_2:before {
  content: "\e6fe";
}

.icon-cangchucangku:before {
  content: "\e98e";
}

.icon-bingtutubiao:before {
  content: "\e98f";
}

.icon-chufang:before {
  content: "\e990";
}

.icon-banquan:before {
  content: "\e98b";
}

.icon-anquanyinsi:before {
  content: "\e98c";
}

.icon-dicengjiagou:before {
  content: "\e98d";
}

